@import "../../global/helpers";

.filter{
  background-color: $white;
  padding: 20px 0 10px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 10px 30px 10px;
  min-width: 235px;
  .blockCheckbox{
    padding: 10px 20px;
    &:hover{
      background: #F1FCFF;
    }
  }
  .title{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
  }
  p{
    margin: 0 0 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
  }
}

input[type=checkbox] { display: none; }

.blockCheckbox{
  justify-content: space-between;
  button{
    background-color: inherit;
    border: none;
    outline: none;
    @include font-sans(14px, $mainBlue);
    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.psevdoCheckbox{
  cursor: pointer;
  font-size: 12px;
  &::before {
    @include pseudoElement(inline-block, relative, '\00A0' );
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: $white;
    border: 1px solid #9ABBCE;
    border-radius: 2px;
    margin-right: 10px;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
  }
}

input[type=checkbox]:checked + .psevdoCheckbox::before {
  content: "\2713";
  color: $mainBlue;
  border: 1px solid $mainBlue;
  background-color: #f2fcff;
}

