@import "../../global/helpers";

.mainContent{
  margin: 0 10px;
  min-width: 565px;
  @include mediaMin {
    min-width: 95%;
  }
}
.ticket{
  margin-top: 20px;
  min-height: 160px;
  background: $white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  &:last-child{
    margin-bottom: 20px;
  }
  @include mediaMin {
    min-height: 120px;
  }
  @include mediaExtraMin{
    flex-direction: column-reverse;
  }
  .logoAndPrice{
    border-right: 1px solid #eceff1;
    padding: 20px;
    justify-content: space-between;
    max-width: 200px;
    @include mediaMin {
      padding: 10px;
      max-width: 160px;
    }
    @include mediaExtraMin{
      max-width: 100%;
      border: none;
    }
    img{
      max-height: 40px;
      margin: 0 auto;
      @include mediaExtraMin{
        margin-bottom: 10px;
      }
    }
    .btnBuyTicket{
      @include font-sans(17px, $white, false, false);
      background: $btnOrange;
      cursor: pointer;
      text-transform: uppercase;
      border: none;
      border-radius: 5px;
      padding: 8px;
      &:focus{
        outline-style: none;
      }
      @include mediaMin {
        font-size: 13px;
        padding: 5px;
      }
    }
  }
  .ticketInfo{
    padding: 20px;
    justify-content: space-between;
    @include mediaMin {
      padding: 10px;
    }
    .infoTime{
      color: $infoTravel;
      &:nth-of-type(2) {
        text-align: right;
      }
      .mainTime{
        font-size: 32px;
        margin-bottom: 4px;
        @include mediaMin {
          font-size: 22px;
        }
      }
      .cityInfo{
        font-size: 12px;
        @include mediaMin {
          font-size: 11px;
        }
      }
      .dateTime{
        color: $infoLightGrey;
        margin-top: 5px;
      }
    }

    .transfer{
      position: relative;
      text-transform: uppercase;
      color: #8b9497;
      font-size: 11px;
      width: 95px;
      top: 5px;
      @include mediaMin {
        font-size: 9px;
        top: 0;
        width: 75px;
      }
      &:after {
        @include pseudoElement;
        background-image: url("../../static/plane.png");
        right: -5px;
        width: 18px;
        height: 18px;
        top: 10px;
      }
      &:before{
        @include pseudoElement;
        width: 90px;
        left: -10px;
        height: 1px;
        top: 21px;
        background: $infoLightGrey;
        @include mediaMin {
          font-size: 9px;
          width: 80px;
        }
      }
    }
  }
}

.tabBtn{
  width: 50%;
  height: 50px;
  background: $white;
  text-transform: uppercase;
  border: 1px solid #DFE5EC;
  @include font-sans(12px, false, 600);
  cursor: pointer;
  &:focus, &:active{
    outline: none;
    color: $white;
  }
  &:hover{
    background: $btnOrange;
    color: $white;
    transition-duration: 0.5s;
    outline: none;
  }
}
.tabBtnDown{
  border-radius: 5px 0 0 5px;
  border-right: 0.5px solid #DFE5EC;
}
.tabBtnUp{
  border-radius: 0 5px 5px 0;
  border-left: 0.5px solid #DFE5EC;
}
.tabRatingActive{
  background: $btnOrange;
  color: $white;
  border-color: $btnOrange;
}