@import './components/Tickets/style';
@import './components/Filter/style';

.mainBlock{
  flex-wrap: wrap;
  header {
    margin: 50px;
  }
}

.container{
  width: 820px;
}

.layout{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  flex-direction: row;
  align-items: stretch;
}

.layoutColumn{
  flex-direction: column;
}

.layoutCenter{
  justify-content: center;
}