

.layout{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  flex-direction: row;
  align-items: stretch;
}

.layoutColumn{
  flex-direction: column;
}

.layoutCenter{
  justify-content: center;
}

.container{
  flex-wrap: wrap;
}
@import './components/Tickets/style';
@import './components/Filter/style';
header {
  margin: 50px 0;
  @include mediaMin {
    margin: 10px 0;
  }
  img{
    width: 60px;
  }
}

