@import './components/Tickets/style';
@import './components/Filter/style';

header {
    margin: 50px;
}

.layout{
  display: flex;
  box-sizing: border-box;
  position: relative;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
}

.layoutColumn{
  flex-direction: column;
}

.layoutCenter{
  justify-content: center;
}