@font-face {
  font-family: 'MyFont';
  src: url(./global/fonts/monzerat.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: MyFont, sans-serif;
  background-color: #F3F7FA;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
ul,
li,
a,
span {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
